/* 
#4dabf7
#495057


*/

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px 40px;
  gap: 40px;
}

h1 {
  text-align: center;
  color: #339af0;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.new-race {
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  padding: 20px 40px;
  gap: 20px;
  min-height: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);

  h3 {
    text-transform: uppercase;
  }
}

.name-participant {
  display: flex;
  align-items: center;
  gap: 200px;
}

.paricipant-label {
  display: inline;
  font-weight: normal;
}

.paricipant-input {
  width: 20px;
  height: 12px;
}

.participants-container {
  display: flex;
  gap: 20px;
  flex-direction: column;

  button {
    width: max-content;
    font-size: 14px;
  }
}

.participants-box {
  display: flex;
}

button {
  background-color: #4dabf7;
  border: 2px solid #4dabf7;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  text-transform: uppercase;
}

button:hover {
  background-color: #fff;
  color: #4dabf7;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 12px;

  width: 100px;
  display: inline-block;
}

input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 250px;
  margin-right: 30px;
  padding: 10px 20px;
  font-size: 18px;
}

.races {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  height: 400px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);

  h3 {
    text-transform: uppercase;
    padding: 20px 10px;
    text-align: center;
  }
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4dabf7;
  color: white;
  font-size: 20px;
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: 0 20px;
  font-size: 18px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

.record-result-btn {
  font-size: 12px;
}

.final-place-container {
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;

  padding: 20px 40px;
  gap: 20px;
  min-height: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);

  h3 {
    text-transform: uppercase;
  }
}

.final-place-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.final-places {
  display: flex;
  align-items: center;
  gap: 30px;

  p {
    width: 32px;
  }
}
